PGHOST=10.0.0.10
PGPORT=5432
PGDATABASE=app_database
PGUSER=readonly_user
PGPASSWORD=change-me
PGSSLMODE=disable
REPORT_NAME=client-a
STATUS_INTERVAL_SECONDS=300
DAILY_REPORT_HOUR=2
DAILY_REPORT_MINUTE=0
STATEMENT_TIMEOUT_MS=30000
